<main class="container p5">
  {{>errors}}
  {{>messages}}
</main>
<div class="container mt-4">
  <div class="col-md-5 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Editar Publicacion</h3>
      </div>
      <div class="card-body">
        <form action="/publicaciones/editar-publicacion/{{publicacion._id}}?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <input type="text" name="titulo" class="form-control" placeholder="Titulo" value="{{publicacion.titulo}}"
              required />
          </div>
          <div class="form-group">
            <input type="text" name="precio" class="form-control " placeholder="Precio" value="{{publicacion.precio}}"
              required />
          </div>
          <div class="form-group">
            <input type="text" name="categoria" class="form-control " placeholder="Categoria"
              value="{{publicacion.categoria}}" readonly />
          </div>
          <div class="form-group">
            <input type="text" name="estado" class="form-control" placeholder="Estado" value="{{publicacion.estado}}"
              readonly />
          </div>
          <div class="form-group">
            <textarea name="descripcion" class="form-control" placeholder="Descripcion"
              required>{{publicacion.descripcion}}</textarea>
          </div>
          <div class="form-group">
            <input type="text" name="telefono" class="form-control" placeholder="Telefono"
              value="{{publicacion.telefono}}" required />
          </div>
          <div class="form-group">
            <input type="text" name="direccion" class="form-control" placeholder="Direccion"
              value="{{publicacion.direccion}}" required />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              <i class="fas fa-save"></i> Guardar
            </button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>